
/** --- For the Views --- */

.view-title {
	-fx-font-family : "selif";
	-fx-font-weight: bold;
	-fx-font-size : 18px;
	-fx-padding: 6px;
}

.view-content-vbox {
	-fx-font-family : "selif";
	-fx-font-size : 14px;
	-fx-padding: 4px;
	-fx-alignment: CENTER-LEFT;
}

/** > Creation(with selection) View */

.selection-content-grid {
	-fx-width: 100px;
	-fx-padding : 10;
	-fx-spacing :5;
	-fx-min-width: 165px;
	-fx-min-height: 165px;
}

.creation-button-holder {
	-fx-padding : 10;
	-fx-spacing :5;
	-fx-min-width: 165px;
	-fx-min-height: 130px;
}

.creation-button-in{
	-fx-padding : 10;
	-fx-spacing :5;
	-fx-min-width: 110px;
	-fx-min-height: 110px;
}

.creation-button {
	-fx-spacing :5;
	-fx-font-family : "Helvetica";
	-fx-font-weight: bold;
	-fx-font-size : 18px;
	-fx-margin : 10px;
	-fx-padding : 10px;
	-fx-min-width: 165px;
	-fx-min-height: 165px;
}

/** > Feedback Popup */

.popup-box {
	-fx-background-color: rgba(0, 0, 0, 0.2);
	-fx-background-radius: 10;
	-fx-text-fill: goldenrod;
	-fx-font-style: italic;
	-fx-font-weight: bold;
	-fx-padding:10,10,0,0;
}

.popup-ok {
	-fx-text-fill: green;
}

.popup-err {
	-fx-text-fill: red;
}

/** --- For the Fields --- */

.field {
	-fx-padding: 2px;
	-fx-alignment: CENTER-LEFT;
}

.field-name {
	-fx-font-family:"selif";
	-fx-font-size:14px;
	-fx-padding: 2px;
}

.field-triangleButton {
	-fx-padding: 4,4,4,4;
}

.field-contentClosed-box {
	-fx-padding: 2px;
	-fx-alignment: CENTER-LEFT;
}

.field-contentOpen-box {
	-fx-padding: 2px;
	-fx-alignment: CENTER-LEFT;
}

.field-subfieldHolder {
	-fx-padding: 2px;
	-fx-alignment: CENTER-LEFT;
}

/** > Object Field */
/*
.objectField-name {
	-fx-font-family:"selif";
	-fx-font-size:14px;
}
*/
.field-valueField {
	-fx-width: 20px;
	-fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-font-family:"selif";
	-fx-font-size:14px;
}

.field-floatField {
	-fx-width: 20px;
	-fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-font-family:"selif";
	-fx-font-size:14px;
}

.field-stringField {
	-fx-width: 20px;
	-fx-max-width: 20px;
	-fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-font-family:"selif";
	-fx-font-size:14px;
}

.filter-holder{
	-fx-alignment: CENTER-LEFT;
	-fx-max-height:10px;
}