#objectName{
	-fx-font-family:"selif";
	-fx-font-size:14px;
}

.title-text{
	-fx-font-family : "selif";
	-fx-font-size : 18px;
	-fx-padding: 4px;
}

.parameter-label{
	-fx-font-family : "selif";
	-fx-font-size : 14px;
	-fx-padding: 2px;
}

.parameter-value-open{
	.parameter-label
}

.parameter-value-closed{
	.parameter-label
}

.creation-button{
	-fx-font-family : "Helvetica";
	-fx-font-size : 14px;
}

.fields-subfieldHolder{

}

.fields-triangleButton{
	
}

.fields-cBoxClosed{
	
}

.fields-cBoxOpen{
	
}

.fields-floatField{
	-fx-width: 105px;
}

.fields-stringBox{
	-fx-width: 105px;
}

.fields-valueFields{
	-fx-width: 55px;
}

/*.fields-SelectionContent{
	    -fx-margin: auto;
	    -fx-padding: auto;
}*/
